<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
</head>
<body>
    <h1>注册</h1>
    <form action="/register" method="post">
        <input type="text" name="username" placeholder="请输入用户名">
        <br>
        <input type="text" name="password" placeholder="请输入密码">
        <br>
        <input type="text" name="note" placeholder="请输入note">
        <br>
        <button type="submit">注册</button>
    </form>
<!--
假设你输入的  gwgw  123
那么浏览器生成的请求是如下的样式

POST /register HTTP/1.1
Content-Type: x-www-form-urlencoded
Host: localhost:3000

username=gwgw&password=123
-->
    <h3>{{ result }}</h3>
</body>
</html>
