<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo index</title>
</head>
<body>
    <h1>TODO</h1>
    <form action="/todo/add" method="post">
        <input type="text" name="title" placeholder="请输入todo">
        <br>
        <button type="submit">添加</button>
    </form>

    {% for t in todos %}
        <div class="todo-cell">
            <h3>{{ t.id }} : {{ t.title}} created@{{ t.created_time }} updated@{{ t.updated_time }}
                <a href="/todo/edit?id={{ t.id }}">编辑</a> <a href="/todo/delete?id={{ t.id }}">删除</a></h3>
        </div>
    {% endfor %}
</body>
</html>
