{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block title %}
    Mail index
{% endblock %}

{% block sidebar_panel %}
    {{ macros.user_info_sidebar(user) }}

{% endblock %}

{% block content %}
    <div class="panel">
        <div class="header">
            <span class="col_fade">我收到的mail</span>
        </div>
        {% for m in receives %}
            {% set from_user = m.from_user() %}
            <div class="cell">
                {{ macros.user_avatar_left(from_user, token) }}
                {{ macros.counts(receives, loop=loop, type='b', title_a="序号", title_b="总数") }}
                {{ macros.last_time(m, type='b', data_type='收到于 ') }}

                <div class="topic_title_wrapper">
                    {% if m.read_or_not %}
                        <span class="put_good">已读</span>
                    {% else %}
                        <span class="put_good">未读</span>
                    {% endif %}

                    {{ macros.topic_title('mail.detail', m, token, 'mail') }}

                    <a href="{{ url_for('mail.delete', mail_id=m.id, token=token) }}">删除</a>
                </div>

            </div>
        {% else %}
            <div class="inner">
                <p>无mail</p>
            </div>
        {% endfor %}
    </div>
    <div class="panel">
        <div class="header">
            <span class="col_fade">我发出的mail</span>
        </div>
        {% for m in sends %}
            {% set to_user = m.to_user() %}
            <div class="cell">
                {{ macros.user_avatar_left(to_user, token) }}
                {{ macros.counts(receives, loop=loop, type='b', title_a="序号", title_b="总数") }}
                {{ macros.last_time(m, type='b', data_type='发出于 ') }}

                <div class="topic_title_wrapper">
                    {{ macros.topic_title('mail.detail', m, token, 'mail') }}

                    <a href="{{ url_for('mail.edit', mail_id=m.id, token=token) }}">编辑</a>
                    <a href="{{ url_for('mail.delete', mail_id=m.id, token=token) }}">删除</a>
                </div>

            </div>
        {% else %}
            <div class="inner">
                <p>无mail</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
