{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block title %}
    mail detail
{% endblock %}

{% block sidebar_panel %}
    {% set u = m.from_user() %}
    {{ macros.user_info_sidebar(u, title='发送人信息') }}

{% endblock %}

{% block content %}
    <div class='panel'>
        <div class='header topic_header'>
                <span class="topic_full_title">
                    {{ m.title }}
                </span>
            <div class="changes">
                {% set u = m.from_user() %}
                <span class="time" data-type='发出于 ' id="{{ m.created_time }}"></span>
                {% if user.id == m.from_user().id %}
                    <span>
                        <a href="{{ url_for('mail.edit', mail_id=m.id, token=token) }}">编辑</a>
                    </span>
                    <span>
                        <a href="{{ url_for('mail.delete', mail_id=m.id, token=token) }}">删除</a>                     </span>
                    </span>
                {% endif %}
            </div>
        </div>

        <div class='inner topic'>
            <div class='topic_content'>
                <div class="markdown-text">{{ m.content }}</div>
            </div>
        </div>
    </div>
{% endblock %}
