<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
    <blockquote>
      <p>每个人都会经过这个阶段，见到一座山，就想知道山后面是什么。我很想告诉他，可能翻过山后面，你会发现没什么特别。回望之下，可能会觉得这一边更好。</p>
        <br>
        <footer>王家卫<cite title="Source Title">《东邪西毒》</cite></footer>
    </blockquote>

    <br>
    <div class="lead">admin list</div>
    <br>
    <form class="form-horizontal" method="post" action="{{ url_for('.admin_update') }}">
        <div class="control-group">
            <label class="control-label">ID</label>
            <div class="controls">
                <input type="text" class="input-xlarge" name="id">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">PASSWORD</label>
            <div class="controls">
                <input type="text" class="input-xlarge" name="password">
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" class="span-primary" value="更新">
        </div>
    </form>

    <form class="form-horizontal" method="post" action="{{ url_for('.register') }}">
        <div class="control-group">
            <label class="control-label">用户名</label>
            <div class="controls">
                <input type="text" class="input-xlarge" name="username">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">密码</label>
            <div class="controls">
                <input type="text" class="input-xlarge" name="password">
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" class="span-primary" value="注册">
        </div>
    </form>

        <table class="table table-hover">
        <tr>
            <th>ID</th>
            <th>name</th>
            <th>password(sha256)</th>
            <th>created_time</th>
            <th>想干啥?</th>
        </tr>
        {% for u in users %}
        <tr>
            <td>{{ u.id }}</td>
            <td>{{ u.username }}</td>
            <td>{{ u.password }}</td>
            <td>{{ u.created_time }}</td>
            <td><a href="{{ url_for('.user_delete', user_id=u.id) }}">删除</a></td>

        </tr>
        {% endfor %}
    </table>


    <br>
    <div class="lead">board list</div>
    <br>

    <form class="form-horizontal" method="post" action="{{ url_for('board.add') }}">
        <div class="control-group">
            <label class="control-label">title</label>
            <div class="controls">
                <input type="text" class="input-xlarge" name="title">
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" class="span-primary" value="add">
        </div>
    </form>

    <form class="form-horizontal" method="post" action="{{ url_for('board.update') }}">
        <div class="control-group">
            <label class="control-label">id</label>
            <div class="controls">
                <input type="text" class="input-xlarge" name="id">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">title</label>
            <div class="controls">
                <input type="text" class="input-xlarge" name="title">
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" class="span-primary" value="update">
        </div>
    </form>


        <table class="table table-hover">
        <tr>
            <th>ID</th>
            <th>title</th>
            <th>想干啥?</th>
        </tr>
        {% for b in boards %}
        <tr>
            <td>{{ b.id }}</td>
            <td>{{ b.title }}</td>
            <td><a href="{{ url_for('board.delete', board_id=b.id) }}">删除</a></td>

        </tr>
        {% endfor %}
    </table>
</body>
</html>
