<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - My Webpage</title>
    <link rel="stylesheet" href="//o4j806krb.qnssl.com/public/stylesheets/index.min.23a5b1ca.min.css" media="all">
    <script src="//cdn.bootcss.com/marked/0.3.19/marked.min.js"></script>
    <script src="//o4j806krb.qnssl.com/public/index.min.f7c13f64.min.js"></script>
    <script src="//o4j806krb.qnssl.com/public/editor.min.08791783.min.js"></script>
    <script src="//cdn.bootcss.com/moment.js/2.22.0/moment.min.js"></script>
    <script src="//cdn.bootcss.com/moment.js/2.22.0/locale/zh-cn.js"></script>
</head>
<body>
<div class='navbar'>
    <div class='navbar-inner'>
        <div class='container'>
            <a class="brand" href="{{ url_for('tweet.index') }}">
                <img src="//o4j806krb.qnssl.com/public/images/cnodejs_light.svg">
            </a>
            <ul class='nav pull-right'>
                <li><a href="{{ url_for('tweet.index') }}">首页</a></li>
                {% if user %}
                    <li><a href="{{ url_for('todo.index') }}">待办事项</a></li>
                    <li><a href="{{ url_for('mail.index') }}">未读消息</a></li>
                    <li><a href="{{ url_for('user.user_setting', token=token) }}">设置</a></li>
                    <li><a href="{{ url_for('user.user_signout') }}">退出</a></li>
                    {% if user.id == 1 %}
                        <li><a href="{{ url_for('user.admin', token=token) }}">管理员界面</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="{{ url_for('user.user_login') }}">登录</a></li>
                    <li><a href="{{ url_for('user.user_reg') }}">注册</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
</div>

<div id="main">
    <div id="sidebar">
        {% block sidebar_panel %}{% endblock %}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</div>

<div id='footer'>
    <div id='footer_main'>
        <div class="links">
            <a class='dark' href='https://github.com/KiwiShow/PythonWeb'>源码地址</a>
        </div>

        <div class='col_fade'>

            <p>这是个人的一个玩具，模仿<a href="https://cnodejs.org/">CNode</a>(国内最专业的 Node.js 开源技术社区，致力于 Node.js 的技术研究)</p>
            <p>欢迎来到python社区
                <a href="https://www.python.org/"
                   target="_blank"
                   class="sponsor_outlink" data-label="ucloud_bottom">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Python_logo_and_wordmark.svg/200px-Python_logo_and_wordmark.svg.png"
                         title="python"
                         alt="python" width="92px"/>
                </a>
                ，云存储使用
                <a href="http://www.qiniu.com/?ref=cnode" target="_blank"
                   class="sponsor_outlink" data-label="qiniu_bottom">
                    <img src="//dn-cnode.qbox.me/Fg0jtDIcTqVC049oVu5-sn6Om4NX" title="七牛云存储"
                         alt="七牛云存储" width="115px"/>
                </a>
                ，使用<a href="http://flask.pocoo.org/" target="_blank"
                      class="sponsor_outlink" data-label="alinode_bottom">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Flask_logo.svg/220px-Flask_logo.svg.png"
                         title="flask"
                         alt="flask" height="54px" width="166px"/>
                </a>web框架。
            </p>
        </div>
    </div>
</div>

{% block script %}
    <script>
        let log = function () {
            console.log.apply(console, arguments)
        }

        let e = function (sel) {
            return document.querySelector(sel)
        }

        let es = function (sel) {
            return document.querySelectorAll(sel)
        }

        let createTimer = function () {
            setInterval(function () {
                let times = es('.time')
                for (let i = 0; i < times.length; i++) {
                    let t = times[i]
                    let time = Number(t.id) * 1000
                    {#let now = Math.floor(new Date() / 1000)#}
                    {#let delta = now - time#}

                    {#day = Math.floor(delta / 86400)#}
                    {#hour = Math.floor((delta % 86400) / 3600)#}
                    {#minute = Math.floor((delta % 3600) / 60)#}

                    {#let s = delta + ' 秒前'#}
                    {#let ss = day + ' 天前' + hour + ' 小时前' + minute + ' 分前'#}
                    ss = moment(time).fromNow()
                    t.innerHTML = ss
                }
            }, 1000)

        }

        let markContents = function () {
            let contentDivs = es('.markdown-text')
            for (let i = 0; i < contentDivs.length; i++) {
                let contentDiv = contentDivs[i]
                let content = marked(contentDiv.innerHTML)
                contentDiv.innerHTML = content
            }
        }

        let __main = function () {
            createTimer()
            markContents()
        }

        __main()
    </script>
    <script>
        (function () {
            let editor = new Editor()
            editor.render($('.editor')[0])
        })()
    </script>
{% endblock %}
</body>
</html>
