<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>comment edit</title>
    <link rel="stylesheet" href="/static/css/index_cnode.css">
</head>
<body>

    <div id="main">
        <div class="panel">
            <div class="inner">
                <form action="{{ url_for('comment.update', token=token) }}" method="post">
                    <input name="id" value="{{ comment_id }}" type="hidden">
                    <br>
                    <input name="content" value="{{ comment_content }}">
                    <br>
                    <button type="submit" class="span-success">提交修改</button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>
