{% macro user_info_sidebar(user, title='个人信息') %}
    {% if user %}
        <div class="panel">
            <div class="header">
                <span class="col_fade">{{ title }}</span>
            </div>
            <div class="inner">
                <div class="user_card">
                    <a class="user_avatar" href="{{ url_for('user.user_detail', id=user.id) }}">
                        <img src="{{ user.user_image }}" title="{{ user.username }}"/>
                    </a>
                    <span class="user_name">
                    <a class="dark" href="{{ url_for('user.user_detail', id=user.id) }}">
                                    {{ user.username }}
                                </a>
                </span>

                    <div class="space clearfix"></div>
                    <span class="signature">
                                “ {{ user.note }} ”
                </span>
                </div>
            </div>
        </div>
    {% else %}
        <div class="panel">
            <div class="inner">
                <p>
                <h1>你瞅啥？</h1></p>
                <div>
                    您可以
                    <a href="{{ url_for('user.user_login') }}">登录</a>
                    或
                    <a href="{{ url_for('user.user_reg') }}">注册</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro Markdown_info_sidebar() %}
    <div class="panel">
        <div class="header">
            <span class="col_fade">Markdown 语法参考</span>
        </div>
        <div class="inner">
            <ol>
                <li><tt>### 单行的标题</tt></li>
                <li><tt>**粗体**</tt></li>
                <li><tt>`console.log('行内代码')`</tt></li>
                <li><tt>```js\n code \n```</tt> 标记代码块</li>
                <li><tt>[内容](链接)</tt></li>
                <li><tt>![文字说明](图片链接)</tt></li>
            </ol>
            <span><a href="https://segmentfault.com/markdown" target="_blank">Markdown 文档</a></span>
        </div>
    </div>
{% endmacro %}

{% macro About_info_sidebar() %}
    <div class="panel">
        <div class="header">
            <span class="col_fade">关于</span>
        </div>
        <div class="inner">
            <p>CNode：Node.js专业中文社区</p>

            <p>在这里你可以：</p>
            <ul>
                <li>向别人提出你遇到的问题</li>
                <li>帮助遇到问题的人</li>
                <li>分享自己的知识</li>
                <li>和其它人一起进步</li>
            </ul>
        </div>
    </div>
{% endmacro %}

{% macro user_action_new_mail(user, u, token) %}
    {% if user and user.id != u.id %}
        <div class="panel">
            <div class="inner">
                <a href="{{ url_for('mail.new', token=token, to_user_id=u.id) }}" class="create_topic_btn">
                    <span class="span-success">给上面的家伙发送私信</span>
                </a>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro user_action_new_tweet(user, token, bid=-1) %}
    {% if user %}
        <div class="panel">
            <div class="inner">
                <a href="{{ url_for('tweet.new', token=token, board_id=bid) }}" class="create_topic_btn">
                    <span class="span-success">写新推特</span>
                </a>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro user_action_new_todo(user, token) %}
    {% if user %}
        <div class="panel">
            <div class="inner">
                <a href="{{ url_for('todo.new', token=token) }}" class="create_topic_btn">
                    <span class="span-success">写新Todo</span>
                </a>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro user_action_login_or_register(action, which='', username='', password='') %}
    <div class="panel">
        <div class="header">
            <ul class="breadcrumb">
                <li><a href="{{ url_for('tweet.index') }}">主页</a><span class='divider'>/</span></li>
                <li class="active">{{ which }}</li>
            </ul>
        </div>
        <div class="inner">
            <form id="signin_form" class="form-horizontal" action="{{ url_for(action) }}" method="post">
                <div class="control-group">
                    <label class="control-label" for="name">用户名</label>

                    <div class="controls">
                        <input class="input-xlarge" id="name" name="username" size="30" type="text"
                               value={{ username }}>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="pass">密码</label>

                    <div class="controls">
                        <input class="input-xlarge" id="pass" name="password" size="30" type="password"
                               value={{ password }}>
                    </div>
                </div>
                <div class="form-actions">
                    <input type="submit" class="span-primary" value={{ which }}>
                </div>
            </form>
        </div>
    </div>
{% endmacro %}

{% macro user_action_new_content(which_index, action, token, bs='', board_id='', header_a='', header_title='', select=false, hidden=false, to_user_id='', user='') %}
    <div class="panel">
        <div class="header">
            <ol class="breadcrumb">
                <li><a href="{{ url_for(which_index) }}">{{ header_a }}</a><span class="divider">/</span></li>
                <li class="active">{{ header_title }}</li>
            </ol>
        </div>

        <div class="inner post">
            <form id="create_topic_form" method="post"
                  action="{{ url_for(action, token=token, board_id=board_id) }}">
                <fieldset>
                    {% if select %}
                        <span class="tab-selector">选择版块：</span>
                        <select name="board_id" id="board" required>
                            <option value="">请选择</option>
                            {#                            默认选中从哪个board过来的，判断依据是bid，所以会复杂一些#}
                            <!--此处有问题，set似乎不管用了，-->
                            {% for b in bs %}
                                {% set yes = '' %}
                                {% if board_id == b.id %}
                                    {% set yes = 'selected' %}
                                {% endif %}
                                <option value="{{ b.id }}"  {{ yes }} >{{ b.title }}</option>
                                {#                                <option value="{{ b.id }}">{{ b.title }}</option>#}
                            {% endfor %}
                        </select>
                    {% endif %}

                    {% if hidden %}
                        <input type="hidden" name="sender_id" value="{{ user.id }}">
                        <input type="hidden" name="receiver_id" value="{{ to_user_id }}">
                    {% endif %}

                    <textarea autofocus class='span9' id='title' name='title' rows='1'
                              placeholder="标题字数 10 字以上"></textarea>
                    <div class='markdown_editor in_editor'>
                        <div class='markdown_in_editor'>
                                <textarea class='editor' name='content' rows='20'
                                          placeholder='文章支持 Markdown 语法, 请注意标记代码'></textarea>
                            <div class='editor_buttons'>
                                <input type="submit" class='span-primary submit_btn' data-loading-text="提交中"
                                       value={{ header_title }}>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endmacro %}


{% macro user_action_edit_content(action, token, t='', user='', mail_id=false, is_not_comment=true) %}
    <div class="panel">
        <div class="inner post">
            {% if mail_id %}
                <form id="create_topic_form" method="post" action="{{ url_for(action, mail_id=t.id, token=token) }}">
            {% else %}
                <form id="create_topic_form" method="post" action="{{ url_for(action, token=token) }}">
            {% endif %}
            <fieldset>
                <input name="id" value="{{ t.id }}" type="hidden">
                {% if is_not_comment %}
                    <textarea autofocus class='span9' id='title' name='title' rows='1'
                              placeholder="标题字数 10 字以上">{{ t.title }}</textarea>
                {% endif %}
                <div class='markdown_editor in_editor'>
                    <div class='markdown_in_editor'>
                                <textarea class='editor' name='content' rows='20'
                                          placeholder='文章支持 Markdown 语法, 请注意标记代码'>{{ t.content }}</textarea>
                        <div class='editor_buttons'>
                            <input type="submit" class='span-primary submit_btn' data-loading-text="提交中"
                                   value="提交修改">
                        </div>
                    </div>
                </div>
            </fieldset>
            </form>
        </div>
    </div>
{% endmacro %}

{% macro pagination(action, pages, current_page, board_id) %}
    <div class="pagination">
        <ul>
            {% for p in pages %}
                {% set i = loop.index %}

                {% if loop.index == current_page %}
                    <li class="disabled active"><a>{{ i }}</a></li>
                {% elif loop.index == 1 %}
                    <li><a href="{{ url_for(action) }}">1</a></li>
                {% else %}
                    <li><a href="{{ url_for(action, board_id=board_id, page=i) }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endmacro %}

{% macro user_avatar_left(u) %}
    <a class="user_avatar pull-left" href="{{ url_for('user.user_detail', id=u.id) }}">
        <img src="{{ u.user_image }}" title="{{ u.username }}">
    </a>
{% endmacro %}

{% macro counts(t, loop='', type='a', title_a="回复数", title_b="点击数") %}
    <span class="reply_count pull-left">
        <span class="count_of_replies" title={{ title_a }}>
            {% if type == 'a' %}
                {{ t.comments() | count }}
            {% else %}
                {{ loop.index }}
            {% endif %}
        </span>
        <span class="count_seperator">/</span>
        <span class="count_of_visits" title={{ title_b }}>
            {% if type == 'a' %}
                {{ t.views }}
            {% else %}
                {{ t | count }}
            {% endif %}
        </span>
    </span>
{% endmacro %}

{% macro last_time(t, c='', u='', type='a', last=false, data_type='创建于 ' ) %}
    {% if type == 'a' %}
        <a class="last_time pull-right"
           href="{{ url_for('tweet.detail', tweet_id=t.id) }}">
            {% if last %}
                <img class="user_small_avatar" src="{{ c.user().user_image }}">
                <span class="last_active_time time" data-type={{ data_type }}
                        id="{{ c.created_time }}"></span>

            {% else %}
                <img class="user_small_avatar" src="{{ u.user_image }}">
                <span class="last_active_time time" data-type={{ data_type }}
                        id="{{ t.created_time }}"></span>
            {% endif %}
        </a>
    {% else %}
        <a class="last_time pull-right">
            <span class="last_active_time time" data-type={{ data_type }}
                    id="{{ t.created_time }}"></span>
        </a>
    {% endif %}
{% endmacro %}

{% macro topic_title(action, t, type) %}
    {% if type == 'tweet' %}
        <a class="topic_title" href="{{ url_for(action, tweet_id=t.id) }}"
           title="{{ t.title }}">
            {{ t.title }}
        </a>
    {% elif type == 'todo' %}
        <a class="topic_title" href="{{ url_for(action, todo_id=t.id) }}"
           title="{{ t.title }}">
            {{ t.title }}
        </a>
    {% elif type == 'mail' %}
        <a class="topic_title" href="{{ url_for(action, mail_id=t.id) }}"
           title="{{ t.title }}">
            {{ t.title }}
        </a>
    {% elif type == 'comment' %}
        <a class="topic_title" href="{{ url_for(action, tweet_id=t.tweet().id) }}"
           title="{{ t.content }}">
            {{ t.content }}
        </a>
    {% elif type == 'user' %}
        <a class="topic_title" href="{{ url_for(action, id=t.id) }}"
           title="{{ t.username }}">
            {{ t.username }}
        </a>
    {% elif type == 'board' %}
        <a class="topic_title" href="{{ url_for(action, board_id=t.id) }}"
           title="{{ t.title }}">
            {{ t.title }}
        </a>
    {% endif %}
{% endmacro %}

{% macro like_or_delike(type, c, token='') %}
    {% set types = {'like': 'comment.like', 'delike': 'comment.delike'} %}
    {% if token %}
        <a href="{{ url_for(types[type], comment_id=c.id, token=token) }}">
            <i class="fa up_btn fa-thumbs-o-up" title="喜欢"></i>
        </a>
    {% else %}
        <a href="{{ url_for(types[type], comment_id=c.id) }}">
            <i class="fa up_btn fa-thumbs-o-up" title="喜欢"></i>
        </a>
    {% endif %}
{% endmacro %}

{% macro control_group(type, name, label, value='') %}
    <div class="control-group">
        <label class="control-label" for="username">{{ label }}</label>

        <div class="controls">
            <input class="input-xlarge" id="name" name={{ name }}  size="30" type={{ type }} value='{{ value }}'
                    style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;);
            background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px;
            background-position: 98% 50%;">
        </div>
    </div>
{% endmacro %}




{#1. macro 化 content 的 index 和 detail 页面#}
