{% macro user_info_sidebar(user, title='个人信息') %}
    {% if user %}
        <div class="panel">
            <div class="header">
                <span class="col_fade">{{ title }}</span>
            </div>
            <div class="inner">
                <div class="user_card">
                    <a class="user_avatar" href="{{ url_for('user.user_detail', id=user.id, token=token) }}">
                        <img src="{{ user.user_image }}" title="{{ user.username }}"/>
                    </a>
                    <span class="user_name">
                    <a class="dark" href="{{ url_for('user.user_detail', id=user.id, token=token) }}">
                                    {{ user.username }}
                                </a>
                </span>

                    <div class="space clearfix"></div>
                    <span class="signature">
                                “ {{ user.note }} ”
                </span>
                </div>
            </div>
        </div>
    {% else %}
        <div class="panel">
            <div class="inner">
                <p>
                <h1>你瞅啥？</h1></p>
                <div>
                    您可以
                    <a href="{{ url_for('user.user_login') }}">登录</a>
                    或
                    <a href="{{ url_for('user.user_reg') }}">注册</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro Markdown_info_sidebar() %}
    <div class="panel">
        <div class="header">
            <span class="col_fade">Markdown 语法参考</span>
        </div>
        <div class="inner">
            <ol>
                <li><tt>### 单行的标题</tt></li>
                <li><tt>**粗体**</tt></li>
                <li><tt>`console.log('行内代码')`</tt></li>
                <li><tt>```js\n code \n```</tt> 标记代码块</li>
                <li><tt>[内容](链接)</tt></li>
                <li><tt>![文字说明](图片链接)</tt></li>
            </ol>
            <span><a href="https://segmentfault.com/markdown" target="_blank">Markdown 文档</a></span>
        </div>
    </div>
{% endmacro %}

{% macro user_action_new_mail(user, u, token) %}
    {% if user and user.id != u.id %}
        <div class="panel">
            <div class="inner">
                <a href="{{ url_for('mail.new', token=token, to_user_id=u.id) }}" class="create_topic_btn">
                    <span class="span-success">给上面的家伙发送私信</span>
                </a>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro user_action_new_tweet(user, token, bid=-1) %}
    {% if user %}
        <div class="panel">
            <div class="inner">
                <a href="{{ url_for('tweet.new', token=token, board_id=bid) }}" class="create_topic_btn">
                    <span class="span-success">写新推特</span>
                </a>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro user_action_new_todo(user, token) %}
    {% if user %}
        <div class="panel">
            <div class="inner">
                <a href="{{ url_for('todo.new', token=token) }}" class="create_topic_btn">
                    <span class="span-success">写新Todo</span>
                </a>
            </div>
        </div>
    {% endif %}
{% endmacro %}
