<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My profile</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
    <div class="lead text-center">{{ u.username }}的profile</div>
    <div class="user-cell">
            <img src="{{ u.user_image }}" title="avatar" width="80" height="80">
        <table class="table table-hover">
        <tr>
            <th>ID</th>
            <th>name</th>
            <th>password(sha256)</th>
            <th>created_time</th>
        </tr>
        <tr>
            <td>{{ u.id }}</td>
            <td>{{ u.username }}</td>
            <td>{{ u.password }}</td>
            <td>{{ u.created_time }}</td>
        </tr>
    </table>
    </div>

    <div class="lead">Upload your avatar</div>
    <form class="form-horizontal" method="post" action="{{ url_for('.add_img') }}" enctype=multipart/form-data>
        <div class="control-group">
            <label class="control-label">上传头像</label>
            <div class="controls">
                <input type=file class="input-xlarge" name="avatar">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type=submit class="input-xlarge" value="Upload">
            </div>
        </div>
    </form>
</body>
</html>
