<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo index</title>
    <link rel="stylesheet" href="//o4j806krb.qnssl.com/public/stylesheets/index.min.23a5b1ca.min.css" media="all">
</head>
<body>
    <div id="main">
        <div id="sidebar">
            <div class="panel">
                <div class="inner">
                    <form action="{{ url_for('todo.add', token=token) }}" method="post">
                        <input type="text" name="title" placeholder="请输入todo">
                        <br>
                        <button type="submit" class="span-success">添加</button>
                    </form>
                </div>
            </div>
        </div>
        <div id="content">
        <div class="panel">
            <div class="inner post">
                <div class="topic_list">
                    {% for t in todos %}
                    <div class="cell">
                        <div class="topic_title_wrapper">
                            <a class="topic_title">
                            {{ t.title}}
                            ct@{{ t.created_time }}
                            ut@{{ t.updated_time }}
                            完成? {{ t.status }}
                            </a>
                            <a href="{{ url_for('todo.switch', todo_id=t.id, token=token) }}&status=True">设置为-完成</a>
                            <a href="{{ url_for('todo.switch', todo_id=t.id, token=token) }}&status=False">设置为-未完成</a>
                            <a href="{{ url_for('todo.edit', todo_id=t.id, token=token) }}">编辑</a>
                            <a href="{{ url_for('todo.delete', todo_id=t.id, token=token) }}">删除</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>
