{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block title %}
    管理员界面 修改 Board
{% endblock %}

{% block sidebar_panel %}
    {{ macros.user_info_sidebar(user, title='管理员信息') }}
{% endblock %}

{% block content %}
    <div class='panel'>
        <div class='header'>
            <span class='col_fade'>更改Board</span>
        </div>
        <div class='inner'>
            <form id='change_pass_form' class='form-horizontal'
                  action='{{ url_for('board.update', token=token) }}' method='post'>
                <input name="id" value="{{ b.id }}" type="hidden">
                <div class='control-group'>
                    <label class='control-label'>title</label>

                    <div class='controls'>
                        <input class='input-xlarge' name='title' value="{{ b.title }}" size='30'/>
                    </div>
                </div>

                <div class='form-actions'>
                    <input type='submit' class='span-primary submit_btn' data-loading-text="更改中.." value='更改Board'/>
                </div>
            </form>
        </div>
    </div>


{% endblock %}
