{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block title %}
    Todo index
{% endblock %}

{% block sidebar_panel %}
    {{ macros.user_info_sidebar(user) }}
    {{ macros.user_action_new_todo(user, token) }}
{% endblock %}

{% block content %}
    <div class="panel">
        <div class="header">
            <span class="col_fade">我的待办事项</span>
        </div>
        {% for t in user.todos() %}
            <div class="cell">
                {{ macros.user_avatar_left(user) }}
                {{ macros.counts(user.todos(), loop=loop, type='b', title_a="序号", title_b="总数") }}
                {{ macros.last_time(t, type='b') }}

                <div class="topic_title_wrapper">
                    {{ macros.topic_title('todo.detail', t, 'todo') }}

                    {% if t.status %}
                        <span class="put_good">Done</span>
                        <a href="{{ url_for('todo.switch', todo_id=t.id, token=token) }}&status=False">设置为-未完成</a>
                    {% else %}
                        <span class="put_good">加油</span>
                        <a href="{{ url_for('todo.switch', todo_id=t.id, token=token) }}&status=True">设置为-完成</a>
                    {% endif %}

                    <a href="{{ url_for('todo.edit', todo_id=t.id, token=token) }}">编辑</a>
                    <a href="{{ url_for('todo.delete', todo_id=t.id, token=token) }}">删除</a>
                </div>

            </div>
        {% else %}
            <div class="inner">
                <p>无待办事项</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
