{% extends "base.html" %}

{% block title %}
    todo new
{% endblock %}

{% block sidebar_panel %}
    <div class="panel">
        <div class="header">
            <span class="col_fade">Markdown 语法参考</span>
        </div>
        <div class="inner">
            <ol>
                <li><tt>### 单行的标题</tt></li>
                <li><tt>**粗体**</tt></li>
                <li><tt>`console.log('行内代码')`</tt></li>
                <li><tt>```js\n code \n```</tt> 标记代码块</li>
                <li><tt>[内容](链接)</tt></li>
                <li><tt>![文字说明](图片链接)</tt></li>
            </ol>
            <span><a href="https://segmentfault.com/markdown" target="_blank">Markdown 文档</a></span>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="panel">
        <div class="inner post">
            <form id="create_topic_form" method="post" action="{{ url_for('todo.update', token=token) }}">
                <fieldset>
                    <input name="id" value="{{ t.id }}" type="hidden">
                    <div class='markdown_editor in_editor'>
                        <div class='markdown_in_editor'>
                                <textarea class='editor' name='title' rows='20'
                                          placeholder='文章支持 Markdown 语法, 请注意标记代码'>{{ t.title }}</textarea>
                            <div class='editor_buttons'>
                                <input type="submit" class='span-primary submit_btn' data-loading-text="提交中"
                                       value="提交修改">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        (function () {
            let editor = new Editor()
            editor.render($('.editor')[0])
        })()
    </script>
{% endblock %}
