{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block title %}
    todo new
{% endblock %}

{% block sidebar_panel %}
    {{ macros.Markdown_info_sidebar() }}
{% endblock %}

{% block content %}
    <div class="panel">
        <div class="header">
            <ol class="breadcrumb">
                <li><a href="{{ url_for('todo.index') }}">Todo_index</a><span class="divider">/</span></li>
                <li class="active">发布todo</li>
            </ol>
        </div>
        <div class="inner post">
            <form id="create_topic_form" method="post"
                  action="{{ url_for('todo.add', token=token) }}">
                <fieldset>
                    <textarea autofocus class='span9' id='title' name='title' rows='1'
                              placeholder="标题字数 10 字以上"></textarea>
                    <div class='markdown_editor in_editor'>
                        <div class='markdown_in_editor'>
                            <textarea class='editor' name='content' rows='20'
                                      placeholder='文章支持 Markdown 语法, 请注意标记代码'></textarea>
                            <div class='editor_buttons'>
                                <input type="submit" class='span-primary submit_btn' data-loading-text="提交中"
                                       value="添加新Todo">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
