{% extends "base.html" %}

{% block title %}
    My profile
{% endblock %}

{% block sidebar_panel %}
    <div class="panel">
        <div class="header">
            <span class="col_fade">个人信息</span>
        </div>
        <div class="inner">
            <div class="user_card">
                <a class="user_avatar" href="{{ url_for('user.user_detail', id=u.id) }}">
                    <img src="{{ u.user_image }}" title="{{ u.username }}"/>
                </a>
                <span class="user_name"><a class="dark"
                                           href="{{ url_for('user.user_detail', id=u.id) }}">{{ u.username }}</a></span>

                <div class="space clearfix"></div>
                <span class="signature">
                        “ {{ u.note }} ”
                    </span>
            </div>
        </div>
    </div>
    {% if user %}
        <div class="panel">
            <div class="inner">
                <a href="{{ url_for('tweet.new', token=token, board_id=bid) }}" class="create_topic_btn">
                    <span class="span-success">写新推特</span>
                </a>
            </div>
        </div>
        {% if user.id != u.id %}
            <div class="panel">
                <div class="inner">
                    <a href="{{ url_for('mail.new', token=token, to_user_id=u.id) }}" class="create_topic_btn">
                        <span class="span-success">给上面的家伙发送私信</span>
                    </a>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class='panel'>
        <div class='header'>
            <ul class='breadcrumb'>
                <li><a href="{{ url_for('tweet.index') }}">主页</a><span class='divider'>/</span></li>
            </ul>
        </div>
        <div class='inner userinfo'>
            <div class='user_big_avatar'>
                <img src="{{ u.user_image }}" class="user_avatar"
                     title="{{ u.username }}"/>
            </div>
            <a class='dark'>{{ u.username }}</a>

            <div class='user_profile'>
                <ul class='unstyled'>
                    {#                        <span class='big'>0</span> 积分#}
                    <li>
                        <i class="fa fa-lg fa-fw fa-github"></i>
                        <a class='dark' href="https://github.com/KiwiShow" target='_blank'>
                            @{{ u.username }}
                        </a>
                    </li>
                </ul>
            </div>
            <p class='col_fade time' data-type='注册时间 ' id="{{ u.created_time }}"></p>
        </div>
    </div>
    <div class="panel">
        <div class="header">
            <span class="col_fade">我的待办事项</span>
        </div>
        {% if u.todos() == [] %}
            <div class="inner">
                <p>无待办事项</p>
            </div>
        {% endif %}
        {% for t in u.todos() %}
            <div class="cell">
                {% if user %}
                    <a class="user_avatar pull-left" href="{{ url_for('user.user_detail', id=u.id, token=token) }}">
                        <img src="{{ u.user_image }}" title="{{ u.username }}">
                    </a>
                {% else %}
                    <a class="user_avatar pull-left" href="{{ url_for('user.user_detail', id=u.id) }}">
                        <img src="{{ u.user_image }}" title="{{ u.username }}">
                    </a>
                {% endif %}
                <span class="reply_count pull-left">
                    <span class="count_of_replies" title="序号">
                      {{ loop.index }}
                    </span>
                    <span class="count_seperator">/</span>
                    <span class="count_of_visits" title="总数">
                      {{ u.todos() | count }}
                    </span>
                </span>
                <a class="last_time pull-right">
                    <img class="user_small_avatar" src="{{ u.user_image }}">
                    <span class="last_active_time time" data-type='创建于 ' id="{{ t.created_time }}"></span>
                </a>
                <div class="topic_title_wrapper">
                    {% if t.status %}
                        <span class="put_good">Done</span>
                    {% else %}
                        <span class="put_good">加油</span>
                    {% endif %}
                    {% if user %}
                        <a class="topic_title" title="{{ t.title }} ">
                            {{ t.title }}
                        </a>
                    {% else %}
                        <a class="topic_title" title="{{ t.title }} ">
                            {{ t.title }}
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="panel">
        <div class="header">
            <span class="col_fade">最近创建的Tweet</span>
        </div>
        {% if u.tweets() == [] %}
            <div class="inner">
                <p>无Tweet</p>
            </div>
        {% endif %}
        {% for t in u.tweets() %}
            <div class="cell">
                {% if user %}
                    <a class="user_avatar pull-left" href="{{ url_for('user.user_detail', id=u.id, token=token) }}">
                        <img src="{{ u.user_image }}" title="{{ u.username }}">
                    </a>
                {% else %}
                    <a class="user_avatar pull-left" href="{{ url_for('user.user_detail', id=u.id) }}">
                        <img src="{{ u.user_image }}" title="{{ u.username }}">
                    </a>
                {% endif %}
                <span class="reply_count pull-left">
                    <span class="count_of_replies" title="回复数">
                      {{ t.comments() | count }}
                    </span>
                    <span class="count_seperator">/</span>
                    <span class="count_of_visits" title="点击数">
                      {{ t.views }}
                    </span>
                </span>
                <a class="last_time pull-right">
                    <img class="user_small_avatar" src="{{ u.user_image }}">
                    <span class="last_active_time time" data-type='发布于 ' id="{{ t.created_time }}"></span>
                </a>
                <div class="topic_title_wrapper">
                    <span class="put_good">{{ t.board().title }}</span>
                    {% if user %}
                        <a class="topic_title" href="{{ url_for('tweet.detail', tweet_id=t.id, token=token) }}"
                           title="{{ t.title }}">
                            {{ t.title }}
                        </a>
                    {% else %}
                        <a class="topic_title" href="{{ url_for('tweet.detail', tweet_id=t.id) }}"
                           title="{{ t.title }}">
                            {{ t.title }}
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="panel">
        <div class="header">
            <span class="col_fade">最近参与的Tweet</span>
        </div>
        {% if u.uni_tweets() == [] %}
            <div class="inner">
                <p>无Tweet</p>
            </div>
        {% endif %}
        {#            什么是参与，即有评论的tweet#}
        {% for t in u.uni_tweets() %}
            {#                如何解决重复对一个Tweet评论2次的问题#}
            {#                方案1:限制一个Tweet一个user只能comment一次#}
            {#                方案2:在User类中构造一个特殊的方法，返回无重复的Tweet  Done#}
            {#                方案3:在这里进行过滤#}
            <div class="cell">
                {% if user %}
                    <a class="user_avatar pull-left" href="{{ url_for('user.user_detail', id=u.id, token=token) }}">
                        <img src="{{ u.user_image }}" title="{{ u.username }}">
                    </a>
                {% else %}
                    <a class="user_avatar pull-left" href="{{ url_for('user.user_detail', id=u.id) }}">
                        <img src="{{ u.user_image }}" title="{{ u.username }}">
                    </a>
                {% endif %}
                <span class="reply_count pull-left">
                        <span class="count_of_replies" title="回复数">
                          {{ t.comments() | count }}
                        </span>
                        <span class="count_seperator">/</span>
                        <span class="count_of_visits" title="点击数">
                          {{ t.views }}
                        </span>
                      </span>
                <a class="last_time pull-right">
                    <img class="user_small_avatar" src="{{ u.user_image }}">
                    <span class="last_active_time time" data-type='回复于 ' id="{{ t.created_time }}"></span>
                </a>
                <div class="topic_title_wrapper">
                    <span class="put_good">{{ t.board().title }}</span>
                    {% if user %}
                        <a class="topic_title" href="{{ url_for('tweet.detail', tweet_id=t.id, token=token) }}"
                           title="{{ t.title }}">
                            {{ t.title }}
                        </a>
                    {% else %}
                        <a class="topic_title" href="{{ url_for('tweet.detail', tweet_id=t.id) }}"
                           title="{{ t.title }}">
                            {{ t.title }}
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="panel">
        <div class="header">
            <span class="col_fade">我收藏的Tweet</span>
        </div>
        {% if u.liked_tweets() == [] %}
            <div class="inner">
                <p>无Tweet</p>
            </div>
        {% endif %}
        {% for t in u.liked_tweets() %}
            <div class="cell">
                {% if user %}
                    <a class="user_avatar pull-left" href="{{ url_for('user.user_detail', id=u.id, token=token) }}">
                        <img src="{{ u.user_image }}" title="{{ u.username }}">
                    </a>
                {% else %}
                    <a class="user_avatar pull-left" href="{{ url_for('user.user_detail', id=u.id) }}">
                        <img src="{{ u.user_image }}" title="{{ u.username }}">
                    </a>
                {% endif %}
                <span class="reply_count pull-left">
                    <span class="count_of_replies" title="回复数">
                      {{ t.comments() | count }}
                    </span>
                    <span class="count_seperator">/</span>
                    <span class="count_of_visits" title="点击数">
                      {{ t.views }}
                    </span>
                </span>
                <a class="last_time pull-right">
                    <img class="user_small_avatar" src="{{ u.user_image }}">
                    <span class="last_active_time time" data-type='发布于 ' id="{{ t.created_time }}"></span>
                </a>
                <div class="topic_title_wrapper">
                    <span class="put_good">{{ t.board().title }}</span>
                    {% if user %}
                        <a class="topic_title" href="{{ url_for('tweet.detail', tweet_id=t.id, token=token) }}"
                           title="{{ t.title }}">
                            {{ t.title }}
                        </a>
                    {% else %}
                        <a class="topic_title" href="{{ url_for('tweet.detail', tweet_id=t.id) }}"
                           title="{{ t.title }}">
                            {{ t.title }}
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="panel">
        <div class="header">
            <span class="col_fade">我赞的comment</span>
        </div>
        {% if u.liked_comments() == [] %}
            <div class="inner">
                <p>无Comment</p>
            </div>
        {% endif %}
        {% for c in u.liked_comments() %}
            <div class="cell">
{#                {% if user %}#}
{#                    <a class="user_avatar pull-left" href="{{ url_for('user.user_detail', id=u.id, token=token) }}">#}
{#                        <img src="{{ u.user_image }}" title="{{ u.username }}">#}
{#                    </a>#}
{#                {% else %}#}
{#                    <a class="user_avatar pull-left" href="{{ url_for('user.user_detail', id=u.id) }}">#}
{#                        <img src="{{ u.user_image }}" title="{{ u.username }}">#}
{#                    </a>#}
{#                {% endif %}#}
{#                <span class="reply_count pull-left">#}
{#                    <span class="count_of_replies" title="回复数">#}
{#                      {{ t.comments() | count }}#}
{#                    </span>#}
{#                    <span class="count_seperator">/</span>#}
{#                    <span class="count_of_visits" title="点击数">#}
{#                      {{ t.views }}#}
{#                    </span>#}
{#                </span>#}
                <a class="last_time pull-right">
                    <img class="user_small_avatar" src="{{ c.user().user_image }}">
                    <span class="last_active_time time" data-type='回复于 ' id="{{ c.created_time }}"></span>
                </a>
                <div class="topic_title_wrapper">
                    <span class="put_good">{{ c.tweet().board().title }}</span>
                    {% set t = c.tweet() %}
                    {% if user %}
                        <a class="topic_title" href="{{ url_for('tweet.detail', tweet_id=t.id, token=token) }}"
                           title="{{ c.content }}">
                            {{ c.content }}
                        </a>
                    {% else %}
                        <a class="topic_title" href="{{ url_for('tweet.detail', tweet_id=t.id) }}"
                           title="{{ c.content }}">
                            {{ c.content }}
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
