{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block title %}
    My profile
{% endblock %}

{% block sidebar_panel %}
    {{ macros.user_info_sidebar(u) }}
    {{ macros.user_action_new_mail(user, u, token) }}
    {{ macros.user_action_new_tweet(user, token) }}
{% endblock %}

{% block content %}
    <div class='panel'>
        <div class='header'>
            <ul class='breadcrumb'>
                <li><a href="{{ url_for('tweet.index') }}">主页</a><span class='divider'>/</span></li>
            </ul>
        </div>
        <div class='inner userinfo'>
            <div class='user_big_avatar'>
                <img src="{{ u.user_image }}" class="user_avatar"
                     title="{{ u.username }}"/>
            </div>
            <a class='dark'>{{ u.username }}</a>

            <div class='user_profile'>
                <ul class='unstyled'>
                    {#                        <span class='big'>0</span> 积分#}
                    <li>
                        <i class="fa fa-lg fa-fw fa-github"></i>
                        <a class='dark' href="https://github.com/KiwiShow" target='_blank'>
                            @{{ u.username }}
                        </a>
                    </li>
                </ul>
            </div>
            <p class='col_fade time' data-type='注册时间 ' id="{{ u.created_time }}"></p>
        </div>
    </div>
    <div class="panel">
        <div class="header">
            <span class="col_fade">我的待办事项</span>
        </div>
        {% for t in u.todos() %}
            <div class="cell">
                {{ macros.user_avatar_left(u) }}
                {{ macros.counts(u.todos(), loop=loop, type='b', title_a="序号", title_b="总数") }}
                {{ macros.last_time(t, type='b') }}
                <div class="topic_title_wrapper">
                    {% if t.status %}
                        <span class="put_good">Done</span>
                    {% else %}
                        <span class="put_good">加油</span>
                    {% endif %}
                    {{ macros.topic_title('todo.detail', t, 'todo') }}
                </div>
            </div>
        {% else %}
            <div class="inner">
                <p>无待办事项</p>
            </div>
        {% endfor %}
    </div>
    <div class="panel">
        <div class="header">
            <span class="col_fade">最近创建的Tweet</span>
        </div>
        {% for t in u.tweets() %}
            <div class="cell">
                {{ macros.user_avatar_left(u) }}
                {{ macros.counts(t) }}
                {{ macros.last_time(t, u=u) }}

                <div class="topic_title_wrapper">
                    <span class="put_good">{{ t.board().title }}</span>
                    {{ macros.topic_title('tweet.detail', t, 'tweet') }}
                </div>
            </div>
        {% else %}
            <div class="inner">
                <p>无Tweet</p>
            </div>
        {% endfor %}
    </div>
    <div class="panel">
        <div class="header">
            <span class="col_fade">最近参与的Tweet</span>
        </div>
        {#            什么是参与，即有评论的tweet#}
        {% for t in u.uni_tweets() %}
            {#                如何解决重复对一个Tweet评论2次的问题#}
            {#                方案1:限制一个Tweet一个user只能comment一次#}
            {#                方案2:在User类中构造一个特殊的方法，返回无重复的Tweet  Done#}
            {#                方案3:在这里进行过滤#}
            <div class="cell">
                {{ macros.user_avatar_left(u) }}
                {{ macros.counts(t) }}
                {{ macros.last_time(t, u=u, data_type='回复于 ') }}

                <div class="topic_title_wrapper">
                    <span class="put_good">{{ t.board().title }}</span>
                    {{ macros.topic_title('tweet.detail', t, 'tweet') }}
                </div>
            </div>
        {% else %}
            <div class="inner">
                <p>无Tweet</p>
            </div>
        {% endfor %}
    </div>
    <div class="panel">
        <div class="header">
            <span class="col_fade">我收藏的Tweet</span>
        </div>
        {% for t in u.liked_tweets() %}
            <div class="cell">
                {{ macros.user_avatar_left(u) }}
                {{ macros.counts(t) }}
                {{ macros.last_time(t, u=t.user()) }}

                <div class="topic_title_wrapper">
                    <span class="put_good">{{ t.board().title }}</span>
                    {{ macros.topic_title('tweet.detail', t, 'tweet') }}
                </div>
            </div>
        {% else %}
            <div class="inner">
                <p>无Tweet</p>
            </div>
        {% endfor %}
    </div>
    <div class="panel">
        <div class="header">
            <span class="col_fade">我赞过的comment</span>
        </div>
        {% for c in u.liked_comments() %}
            <div class="cell">
                {{ macros.last_time(c.tweet(), c=c, last=true, data_type='回复于 ') }}

                <div class="topic_title_wrapper">
                    <span class="put_good">{{ c.tweet().board().title }}</span>
                    {{ macros.topic_title('tweet.detail', c, 'comment') }}
                </div>
            </div>

{#            <a class="last_time pull-right">#}
{#                <img class="user_small_avatar" src="{{ c.user().user_image }}">#}
{#                <span class="last_active_time time" data-type='回复于 '#}
{#                      id="{{ c.created_time }}"></span>#}
{#            </a>#}

        {% else %}
            <div class="inner">
                <p>无Comment</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
