{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block title %}
    tweet detail
{% endblock %}

{% block sidebar_panel %}
    {% set u = t.user() %}
    {{ macros.user_info_sidebar(u) }}
    {{ macros.user_action_new_mail(user, u, token) }}
    {{ macros.user_action_new_tweet(user, token) }}
{% endblock %}


{% block content %}
    {% set u = t.user() %}
    <div class='panel'>
        <div class='header topic_header'>
                <span class="topic_full_title">
                    <span class="put_good">{{ t.board().title }}</span>
                    {{ t.title }}
                </span>
            <div class="changes">
                <span class="time" data-type='发布于 ' id="{{ t.created_time }}"></span>
                <span>
                        作者
                    {% if user %}
                        <a href="{{ url_for('user.user_detail', id=u.id, token=token) }}">
                            {{ u.username }}
                        </a>
                    {% else %}
                        <a href="{{ url_for('user.user_detail', id=u.id) }}">
                        {{ u.username }}
                    {% endif %}
                    </a>
                    </span>
                <span>
                        {{ t.views }} 次浏览
                     </span>
                <span>
                        来自 {{ t.board().title }}
                     </span>
                <span class="time" data-type='最后一次编辑是 ' id="{{ t.updated_time }}"></span>

                {% if user %}
                    {% if user.id != t.user_id %}
                        {% if user.id in t.who_likes %}
                            <span>
                                <a href="{{ url_for('tweet.delike', tweet_id=t.id, token=token) }}"
                                   class="span-common pull-right collect_btn">
                                    <span>取消收藏</span>
                                </a>
                            </span>
                        {% else %}
                            <span>
                                <a href="{{ url_for('tweet.like', tweet_id=t.id, token=token) }}"
                                   class="span-common span-success pull-right collect_btn">
                                <span class="span-success">收藏</span>
                            </a>
                            </span>
                        {% endif %}
                    {% else %}
                        <span>
                          <a href="{{ url_for('tweet.delete', tweet_id=t.id, token=token) }}">删除</a>
                        </span>
                        <span>
                         <a href="{{ url_for('tweet.edit', tweet_id=t.id, token=token) }}">编辑</a>
                        </span>
                    {% endif %}
                {% endif %}

            </div>
        </div>

        <div class='inner topic'>
            <div class='topic_content'>
                <div class="markdown-text">{{ t.content }}</div>
            </div>
        </div>
    </div>
    <div class='panel'>
        <div class='header'>
            <span class='col_fade'>
                <!-- 过滤器 -->
                {{ t.comments() | count }} 回复
            </span>
        </div>
        {% for c in t.comments() %}
            {% set u = c.user() %}
            <div class='cell reply_area reply_item'>
                <div class='author_content'>
                    {% if user %}
                        <a href="{{ url_for('user.user_detail', id=u.id, token=token) }}" class="user_avatar">
                            <img src="{{ u.user_image }}" title="{{ u.username }}"/>
                        </a>
                        <div class='user_info'>
                            <a class='dark reply_author' href="{{ url_for('user.user_detail', id=u.id, token=token) }}">
                                {{ u.username }}
                            </a>
                            <a class="reply_time">
                                {{ loop.index }}楼 / {{ loop.length }}楼 •
                                <span class="time" data-type='回复于 ' id="{{ c.created_time }}"></span>
                                {% if u.id == t.user().id %}
                                    <span class="reply_by_author">作者</span>
                                {% endif %}
                            </a>
                        </div>
                        {% if user.id == u.id %}
                            <a href="{{ url_for('comment.delete', comment_id=c.id, token=token) }}">删除</a>
                            <a href="{{ url_for('comment.edit', comment_id=c.id, token=token) }}">编辑</a>
                        {% endif %}

                    {% else %}
                        <a href="{{ url_for('user.user_detail', id=u.id) }}" class="user_avatar">
                            <img src="{{ u.user_image }}" title="{{ u.username }}"/>
                        </a>
                        <div class='user_info'>
                            <a class='dark reply_author' href="{{ url_for('user.user_detail', id=u.id) }}">
                                {{ u.username }}
                            </a>
                            <a class="reply_time">
                                {{ loop.index }}楼 / {{ loop.length }}楼 •
                                <span class="time" data-type='回复于 ' id="{{ c.created_time }}"></span>
                                {% if u.id == t.user().id %}
                                    <span class="reply_by_author">作者</span>
                                {% endif %}
                            </a>
                        </div>
                    {% endif %}
                    <div class="user_action">
                            <span>
                                {% if user.id in c.who_likes %}
                                    <a href="{{ url_for('comment.delike', comment_id=c.id, token=token) }}">
                                        <i class="fa up_btn fa-thumbs-o-up" title="喜欢"></i>
                                    </a>
                                {% else %}
                                    <a href="{{ url_for('comment.like', comment_id=c.id, token=token) }}">
                                        <i class="fa up_btn fa-thumbs-o-up" title="喜欢"></i>
                                    </a>
                                {% endif %}
                                <span class="up-count">{{ c.who_likes | count }}</span>
                            </span>
                    </div>
                </div>
                <div class='reply_content from-leiwei1991'>
                    <div class="markdown-text">{{ c.content }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if user %}
        <div class="panel">
            <div class="header">
                <span class="col_fade">添加回复</span>
            </div>
            <div class="inner reply">
                <form id="reply_form" action="{{ url_for('comment.add', token=token) }}" method="post">
                    <div class="markdown_editor in_editor">
                        <div class="markdown_in_editor">
                            <input type="hidden" name="tweet_id" value="{{ t.id }}">
                            <textarea class='editor' name='content' rows='8'></textarea>
                            <div class='editor_buttons'>
                                <input class='span-primary submit_btn' type="submit" data-loading-text="回复中.."
                                       value="回复">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}

