<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tweet index</title>
    <link rel="stylesheet" href="//o4j806krb.qnssl.com/public/stylesheets/index.min.23a5b1ca.min.css" media="all">
</head>
{#    <h4>{{ user.username }}的Tweet</h4>#}

{#    <h3>去用户？的tweet</h3>#}
{#    <form name="go_to_user_form" action="{{ url_for('tweet.index') }}" method="get">#}
{#        <input class="go-to-user-input" name="user_id" value="-1" type="text" placeholder="输入用户id">#}
{#        <button class="go-to-user-button">GO</button>#}
{#    </form>#}
{#    <a href="{{ url_for('tweet.new', token=token) }}">写新推特</a>#}
{#    <br>#}
{#    <div class="tweet-list">#}
{#        <h6>tweets</h6>#}
{#        {% for t in tweets %}#}
{#        {{ t.content }} from {{ user.username}} ct@{{ t.created_time}} ut@{{ t.updated_time}}#}
{#        <a href="{{ url_for('tweet.delete', tweet_id=t.id, token=token) }}">删除</a>#}
{#        <a href="{{ url_for('tweet.edit', tweet_id=t.id, token=token) }}">编辑</a>#}
{#        <h6>评论</h6>#}
{#        {% for c in t.comments() %}#}
{#        <div class="comment">#}
{#            {{ c.user().username }} : {{ c.content }}  ct@{{ c.created_time}} ut@{{ c.updated_time}}#}
{#        <a href="{{ url_for('comment.delete', comment_id=c.id, token=token) }}">删除</a>#}
{#        <a href="{{ url_for('comment.edit', comment_id=c.id, token=token) }}">编辑</a>#}
{#        </div>#}
{#        {% endfor %}#}
{#        <form action="{{ url_for('comment.add', token=token) }}" method="post">#}
{#            <input type="hidden" name="tweet_id" value="{{ t.id }}">#}
{#            <input name="content">#}
{#            <br>#}
{#            <button type="submit">添加评论</button>#}
{#        </form>#}
{#        {% endfor %}#}
{#    </div>#}
<!-- navbar -->
<div class='navbar'>
    <div class='navbar-inner'>
        <div class='container'>
            <ul class='nav pull-right'>
                <li><a href="{{ url_for('tweet.index') }}">首页</a></li>
                <li><a href="{{ url_for('user.login') }}">切换用户</a></li>
                <li><a href="{{ url_for('user.user_setting', id=u.id, token=token) }}">设置</a></li>
                <li><a href="{{ url_for('user.out') }}">退出</a></li>
                <li><a href="{{ url_for('user.admin') }}">管理员界面</a></li>

            </ul>
        </div>
    </div>
</div>

<div id="main">
    <div id="sidebar">
        <div class="panel">
            <div class="header">
                <span class="col_fade">个人信息</span>
            </div>
            <div class="inner">
                <div class="user_card">
                    <a class="user_avatar" href="{{ url_for('user.user_detail', id=u.id, token=token) }}">
                        <img src="{{ u.user_image }}" title="{{ u.username }}"/>
                    </a>
                    <span class="user_name"><a class="dark"
                                               href="{{ url_for('user.user_detail', id=u.id, token=token) }}">{{ u.username }}</a></span>

                    <div class="space clearfix"></div>
                    <span class="signature">
                        {{ u.note }}
                    </span>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="inner">
                <a href="{{ url_for('tweet.new', token=token, board_id=bid) }}" class="create_topic_btn">
                    <span class="span-success">写新推特</span>
                </a>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="panel">
            <div class="header">
                <a href="{{ url_for('tweet.index') }}" class="topic-tab current-tab">全部</a>
                {% for b in bs %}
                    <a href="{{ url_for('tweet.index', board_id=b.id) }}"
                       class="topic-tab current-tab">{{ b.title }}</a>
                {% endfor %}
            </div>
            <div class="inner post">
                <div class="topic_list">
                    {% for t in tweets %}
                        <div class="cell">
                            {% set u = t.user() %}
                            <a class="user_avatar pull-left" href="{{ url_for('user.user_detail', id=u.id) }}">
                                <img src="{{ u.user_image }}" title="{{ u.username }}">
                            </a>
                            <span class="reply_count pull-left">
                                <span class="count_of_replies" title="回复数">
                                  {{ t.comments() | count }}
                                </span>
                                <span class="count_seperator">/</span>
                                <span class="count_of_visits" title="点击数">
                                  {{ t.views }}
                                </span>
                              </span>
                            <a class="last_time pull-right">
                                <img class="user_small_avatar" src="{{ u.user_image }}">
                                <span class="last_active_time time" id="{{ t.created_time }}"></span>
                            </a>
                            <div class="topic_title_wrapper">
                                <span class="put_good">{{ t.board().title }}</span>
                                <a class="topic_title" href="{{ url_for('tweet.detail', tweet_id=t.id, token=token) }}"
                                   title="{{ t.title }}">
                                    {{ t.title }}
                                </a>
                            </div>
                        </div>
                        {#                        <div class="cell">#}
                        {#                            <div class="topic_title_wrapper">#}
                        {#                                <a class="topic_title" href="{{ url_for('tweet.detail', tweet_id=t.id, token=token) }}">#}
                        {#                                    {{ t.title }}#}
                        {#                                </a>#}
                        {#                                <span>from {{ t.user().username}}  {{ t.comments() | count }} comments/ {{ t.views }} views#}
                        {#                                    <a href="{{ url_for('tweet.delete', tweet_id=t.id, token=token) }}">删除</a>#}
                        {#                                    <a href="{{ url_for('tweet.edit', tweet_id=t.id, token=token) }}">编辑</a></span>#}
                        {#                            </div>#}
                        {#                        </div>#}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div id='footer'>
    <div id='footer_main'>
        <div class="links">
            <a class='dark' href='https://github.com/KiwiShow/PythonWeb'>源码地址</a>
        </div>

        <div class='col_fade'>

            <p>这是个人的一个玩具，模仿<a href="https://cnodejs.org/">CNode</a>(国内最专业的 Node.js 开源技术社区，致力于 Node.js 的技术研究)</p>
            <p>欢迎来到python社区
                <a href="https://www.python.org/"
                   target="_blank"
                   class="sponsor_outlink" data-label="ucloud_bottom">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Python_logo_and_wordmark.svg/200px-Python_logo_and_wordmark.svg.png" title="python"
                         alt="python" width="92px"/>
                </a>
                ，云存储使用
                <a href="http://www.qiniu.com/?ref=cnode" target="_blank"
                   class="sponsor_outlink" data-label="qiniu_bottom">
                    <img src="//dn-cnode.qbox.me/Fg0jtDIcTqVC049oVu5-sn6Om4NX" title="七牛云存储"
                         alt="七牛云存储" width="115px"/>
                </a>
                ，使用<a href="http://flask.pocoo.org/" target="_blank"
                     class="sponsor_outlink" data-label="alinode_bottom">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Flask_logo.svg/220px-Flask_logo.svg.png" title="flask"
                         alt="flask" height="54px" width="166px"/>
                </a>web框架。
            </p>
        </div>
    </div>
</div>

<script>
    let log = function () {
        console.log.apply(console, arguments)
    }

    let e = function (sel) {
        return document.querySelector(sel)
    }

    let es = function (sel) {
        return document.querySelectorAll(sel)
    }

    let createTimer = function () {
        setInterval(function () {
            let times = es('.time')
            for (let i = 0; i < times.length; i++) {
                let t = times[i]
                let time = Number(t.id)
                let now = Math.floor(new Date() / 1000)
                let delta = now - time

                day = Math.floor(delta / 86400)
                hour = Math.floor((delta % 86400) / 3600)
                minute = Math.floor((delta % 3600) / 60)

                let s = delta + ' 秒前'
                let ss = day + ' 天前' + hour + ' 小时前' + minute + ' 分前'
                t.innerHTML = ss
            }
        }, 1000)

    }

    let __main = function () {
        createTimer()
    }

    __main()
</script>
</body>
</html>
