{% extends "base.html" %}

{% block title %}
    tweet detail
{% endblock %}

{% block sidebar_panel %}
    <div class="panel">
        {% set u = t.user() %}
        <div class="header">
            <span class="col_fade">个人信息</span>
        </div>
        <div class="inner">
            <div class="user_card">
                <a class="user_avatar" href="{{ url_for('user.user_detail', id=u.id, token=token) }}">
                    <img src="{{ u.user_image }}" title="{{ u.username }}"/>
                </a>
                <span class="user_name"><a class="dark"
                                           href="{{ url_for('user.user_detail', id=u.id, token=token) }}">{{ u.username }}</a></span>

                <div class="space clearfix"></div>
                <span class="signature">
                        “ {{ u.note }} ”
                </span>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% set u = t.user() %}
    <div class='panel'>
        <div class='header topic_header'>
                <span class="topic_full_title">
                    <span class="put_good">{{ t.board().title }}</span>
                    {{ t.title }}
                </span>
            <div class="changes">
                <span class="time" id="{{ t.created_time }}"></span>
                <span>
                        作者
                        <a href="{{ url_for('user.user_detail', id=u.id, token=token) }}">
                            {{ u.username }}
                        </a>
                    </span>
                <span>
                        {{ t.views }} 次浏览
                     </span>
                <span>
                        来自 {{ t.board().title }}
                     </span>
                <span>
                          <a href="{{ url_for('tweet.delete', tweet_id=t.id, token=token) }}">删除</a>
                     </span>
                <span>
                         <a href="{{ url_for('tweet.edit', tweet_id=t.id, token=token) }}">编辑</a>
                    </span>
            </div>
        </div>

        <div class='inner topic'>
            <div class='topic_content'>
                <div class="markdown-text">{{ t.content }}</div>
            </div>
        </div>
    </div>
    <div class='panel'>
        <div class='header'>
            <span class='col_fade'>
                <!-- 过滤器 -->
                {{ t.comments() | count }} 回复
            </span>
        </div>
        {% for c in t.comments() %}
            {% set u = c.user() %}
            <div class='cell reply_area reply_item'>
                <div class='author_content'>
                    <a href="{{ url_for('user.user_detail', id=u.id, token=token) }}" class="user_avatar">
                        <img src="{{ u.user_image }}" title="{{ u.username }}"/>
                    </a>
                    <div class='user_info'>
                        <a class='dark reply_author' href="{{ url_for('user.user_detail', id=u.id, token=token) }}">
                            {{ u.username }}
                        </a>
                        <a class="reply_time">
                            {{ loop.index }}楼 / {{ loop.length }}楼 •
                            <span class="time" id="{{ c.created_time }}"></span>
                            {% if u.id == t.user().id %}
                                <span class="reply_by_author">作者</span>
                            {% endif %}
                        </a>
                    </div>
                    <a href="{{ url_for('comment.delete', comment_id=c.id, token=token) }}">删除</a>
                    <a href="{{ url_for('comment.edit', comment_id=c.id, token=token) }}">编辑</a>
                    <div class='user_action'>
                    <span>
                        <i class="fa up_btn fa-thumbs-o-up invisible" title="喜欢"></i>
                        <span class="up-count">
                        </span>
                    </span>
                    </div>
                </div>
                <div class='reply_content from-leiwei1991'>
                    <div class="markdown-text">{{ c.content }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="panel">
        <div class="header">
            <span class="col_fade">添加回复</span>
        </div>
        <div class="inner reply">
            <form id="reply_form" action="{{ url_for('comment.add', token=token) }}" method="post">
                <div class="markdown_editor in_editor">
                    <div class="markdown_in_editor">
                        <input type="hidden" name="tweet_id" value="{{ t.id }}">
                        <textarea class='editor' name='content' rows='8'></textarea>
                        <div class='editor_buttons'>
                            <input class='span-primary submit_btn' type="submit" data-loading-text="回复中.." value="回复">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        let log = function () {
            console.log.apply(console, arguments)
        }

        let e = function (sel) {
            return document.querySelector(sel)
        }

        let es = function (sel) {
            return document.querySelectorAll(sel)
        }

        let createTimer = function () {
            setInterval(function () {
                let times = es('.time')
                for (let i = 0; i < times.length; i++) {
                    let t = times[i]
                    let time = Number(t.id)
                    let now = Math.floor(new Date() / 1000)
                    let delta = now - time

                    day = Math.floor(delta / 86400)
                    hour = Math.floor((delta % 86400) / 3600)
                    minute = Math.floor((delta % 3600) / 60)
                    second = Math.floor(delta % 60)

                    let s = delta + ' 秒前'
                    let ss = '发布于 ' + day + ' 天前' + hour + ' 小时前' + minute + ' 分前' + second + ' 秒前'
                    t.innerHTML = ss
                }
            }, 1000)

        }

        let markContents = function () {
            let contentDivs = es('.markdown-text')
            for (let i = 0; i < contentDivs.length; i++) {
                let contentDiv = contentDivs[i]
                let content = marked(contentDiv.innerHTML)
                contentDiv.innerHTML = content
            }
        }

        let __main = function () {
            createTimer()
            markContents()
        }

        __main()
    </script>
    <script>
        (function () {
            let editor = new Editor()
            editor.render($('.editor')[0])
        })()
    </script>
{% endblock %}
