{% extends "base.html" %}

{% block title %}
    tweet new
{% endblock %}

{% block sidebar_panel %}
    <div class="panel">
        <div class="header">
            <span class="col_fade">Markdown 语法参考</span>
        </div>
        <div class="inner">
            <ol>
                <li><tt>### 单行的标题</tt></li>
                <li><tt>**粗体**</tt></li>
                <li><tt>`console.log('行内代码')`</tt></li>
                <li><tt>```js\n code \n```</tt> 标记代码块</li>
                <li><tt>[内容](链接)</tt></li>
                <li><tt>![文字说明](图片链接)</tt></li>
            </ol>
            <span><a href="https://segmentfault.com/markdown" target="_blank">Markdown 文档</a></span>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="panel">
        <div class="header">
            <ol class="breadcrumb">
                <li><a href="{{ url_for('tweet.index') }}">主页</a><span class="divider">/</span></li>
                <li class="active">发布tweet</li>
            </ol>
        </div>
        <div class="inner post">
            <form id="create_topic_form" method="post"
                  action="{{ url_for('tweet.add', token=token, board_id=bid) }}">
                <fieldset>
                    <span class="tab-selector">选择版块：</span>
                    <select name="board_id" id="board" required>
                        <option value="">请选择</option>
                        {#                                默认选中从哪个board过来的，判断依据是bid，所以会复杂一些#}
                        <!--此处有问题，set似乎不管用了，-->
                        {% for b in bs %}
                            {% set yes = '' %}
                            {% if bid == b.id %}
                                {% set yes = 'selected' %}
                            {% endif %}
                            <option value="{{ b.id }}"  {{ yes }} >{{ b.title }}</option>
                            {#                                <option value="{{ b.id }}">{{ b.title }}</option>#}
                        {% endfor %}
                    </select>
                    <textarea autofocus class='span9' id='title' name='title' rows='1'
                              placeholder="标题字数 10 字以上"></textarea>
                    <div class='markdown_editor in_editor'>
                        <div class='markdown_in_editor'>
                                <textarea class='editor' name='content' rows='20'
                                          placeholder='文章支持 Markdown 语法, 请注意标记代码'></textarea>
                            <div class='editor_buttons'>
                                <input type="submit" class='span-primary submit_btn' data-loading-text="提交中"
                                       value="发表新推特">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        (function () {
            let editor = new Editor()
            editor.render($('.editor')[0])
        })()
    </script>
{% endblock %}
