<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册登录页面</title>
</head>
<body>
    <h1>登录</h1>
    <h2>你好 {{ username }}</h2>
    <form action="{{ url_for('.login') }}" method="post">
        <input type="text" name="username" value="aaa" placeholder="请输入用户名">
        <br>
        <input type="text" name="password" value="111" placeholder="请输入密码">
        <br>
        <button type="submit">登录</button><a href="{{ url_for('.out') }}">登出</a>
    </form>
    <h3>{{ result }}</h3>
    <!--方便调试-->
    <a href="/todo/index">My todos</a>
    <br>
    <a href="/ajax/todo/index">My todos(ajax)</a>
    <br>
    <a href="/tweet/index">My tweets</a>
    <br>
    <a href="/ajax/tweet/index">My tweets(ajax)</a>
</body>
</html>
