<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
</head>
<body>
    <h1>注册</h1>
    <form action="{{ url_for('.register') }}" method="post">
        <input type="text" name="username" placeholder="请输入用户名">
        <br>
        <input type="text" name="password" placeholder="请输入密码">
        <br>
        <input type="text" name="note" placeholder="请输入note">
        <br>
        <button type="submit">注册</button>
    </form>

    <h1>Upload your avatar</h1>
    <form action="{{ url_for('.add_img') }}" method="post" enctype=multipart/form-data>
        <input type=file name=avatar>
        <input type=submit value=Upload>
        <!--<button type="submit">Upload</button>-->
    </form>
<!--
假设你输入的  gwgw  123
那么浏览器生成的请求是如下的样式

POST /register HTTP/1.1
Content-Type: x-www-form-urlencoded
Host: localhost:3000r

username=gwgw&password=123
-->
    {{ result }}
    <br>
    {% for u in users %}
        <h3>{{ u }}</h3>
    {% endfor %}

</body>
</html>
