<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo index</title>
</head>
<body>
    <h1>TODO</h1>
    <h3>通过http的form添加</h3>
    <form action="{{ url_for('todo.add') }}" method="post">
        <input type="text" name="title" placeholder="请输入todo">
        <br>
        <button type="submit">添加</button>
    </form>
    <br>
    <h3>通过ajax的form添加</h3>
    <input id='id-input-todo' type="text" name="title" placeholder="请输入todo">
    <br>
    <button id='id-button-add'>添加</button>
    <div class="todo-list">
        <!--to_do will be here-->
        {% for t in todos %}
        <div class="todo-cell">
            <h3>{{ t.id }} : {{ t.title}}
                ct@{{ t.created_time }}
                ut@{{ t.updated_time }}
                完成? {{ t.status }}
                <a href="{{ url_for('todo.switch') }}?id={{ t.id }}&status=True">设置为-完成</a>
                <a href="{{ url_for('todo.switch') }}?id={{ t.id }}&status=False">设置为-未完成</a>
                <a href="{{ url_for('todo.edit') }}?id={{ t.id }}">编辑</a>
                <a href="{{ url_for('todo.delete') }}?id={{ t.id }}">删除</a></h3>
        </div>
        {% endfor %}
        <br>
        <br>
    </div>

    <script src="/static?file=Ajax_base.js"></script>
    <script src="/static?file=Ajax_todo.js"></script>
</body>
</html>
