<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Tweet index</title>
</head>
<p>
    <h4>{{ user.username }}的Tweet</h4>

    <h3>去用户？的tweet</h3>
    <form name="go_to_user_form" action="{{ url_for('tweet.index') }}" method="get">
        <input class="go-to-user-input" name="user_id" value="-1" type="text" placeholder="输入用户id">
        <button class="go-to-user-button">GO</button>
    </form>
    <h4>通过http的form添加</h4>
    <a href="{{ url_for('tweet.new') }}">写新推特</a>
    <br>
    <h4>通过ajax的form添加</h4>
    <input id='id-input-tweet' type="text" name="title" placeholder="请输入tweet">
    <br>
    <button id='id-button-add'>添加</button>
    <br>
    <h3>http交互界面</h3>
    <div class="tweet-list">
        <h6>tweets</h6>
        {% for t in tweets %}
        {{ t.content }} from {{ user.username}} ct@{{ t.created_time}} ut@{{ t.updated_time}}
        <a href="{{ url_for('tweet.delete', tweet_id=t.id) }}">删除</a>
        <a href="{{ url_for('tweet.edit', tweet_id=t.id) }}">编辑</a>
        <h6>评论</h6>
        {% for c in t.comments() %}
        <div class="comment">
            {{ c.user().username }} : {{ c.content }}  ct@{{ c.created_time}} ut@{{ c.updated_time}}
        <a href="{{ url_for('comment.delete', comment_id=c.id) }}">删除</a>
        <a href="{{ url_for('comment.edit', comment_id=c.id) }}">编辑</a>
        </div>
        {% endfor %}
        <form action="{{ url_for('comment.add') }}" method="post">
            <input type="hidden" name="tweet_id" value="{{ t.id }}">
            <input name="content">
            <br>
            <button type="submit">添加评论</button>
        </form>
        {% endfor %}
        <h4>ajax交互界面</h4>
        <h6>tweets</h6>
    </div>

    <script src='/static/Ajax_base.js'></script>
    <script src='/static/Ajax_tweet.js'></script>
</body>
</html>
